@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RixXladywatermelonR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./img/background2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "RixXladywatermelonR";
}
.container{
    text-align: center;
    background-color: rgba(247, 243, 242, 0.7);
    border-radius: 40px;
    border: 10px solid white;
    padding: 10px;
    width: 50%;
}
.title{
    color:black;
    font-size: 80px;
    margin: 0;
}
.subtitle{
    font-size: 50px;
}
.colortxt{
    color: rgb(255, 0, 191);
}
.result{

}
.main-img{
    width: 70%;
    height: 300px;
    opacity: 0.7;
    border-radius: 20%;
    border: 1px solid blueviolet;
}
.resulttxt{
    font-size: 40px;
    color: rgb(25, 0, 255);
    margin: 10px 0;
}
.inputinfo{
    margin-bottom: 20px;
}
.chances-area{
    font-size: 40px;
    margin-bottom: 10px;
}
.userinput{
    width: 45%;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    font-size: 30px;
    font-family: "RixXladywatermelonR";
}
.play-button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    border: none;
    font-family: "RixXladywatermelonR";
    margin-right: 10px;
    padding: 0 10px;
}
.reset-button{
    background-color: rgb(248, 168, 7);
    border-radius: 10px;
    color: black;
    border: none;
    font-size: 30px;
    font-family: "RixXladywatermelonR", cursive;
}
@media screen and (max-width: 1200px){
    body{
    }
    .container{
        width: 85%;
    }
    .title{
        color:black;
        font-size: 80px;
        margin: 0;
    }
    .subtitle{
        font-size: 50px;
        margin: 0;
    }
    .colortxt{
        color: rgb(255, 0, 191);
        display: flex;
        flex-direction: column;
    }
    .result{
    
    }
    .main-img{
        width: 70%;
        height: 400px
    }
    .resulttxt{
        font-size: 35px;
        color: rgb(7, 7, 7);
        margin: 10px 0;
    }
    .inputinfo{
        margin-bottom: 20px;
    }
    .chances-area{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .userinput{
        padding: 8px;
        font-size: 20px;
    }
    .play-button{
        padding: 0 10px;
    }
    .reset-button{
        
    }
}
@media screen and (max-width: 770px){
    body{
    }
    .container{
        width: 85%;
    }
    .title{
        color:black;
        font-size: 80px;
        margin: 0;
    }
    .subtitle{
        font-size: 50px;
        margin: 0;
    }
    .colortxt{
        color: rgb(255, 0, 191);
        display: flex;
        flex-direction: column;
    }
    .result{
    
    }
    .main-img{
        width: 70%;
        height: 400px
    }
    .resulttxt{
        font-size: 35px;
        color: rgb(7, 7, 7);
        margin: 10px 0;
    }
    .inputinfo{
        margin-bottom: 20px;
    }
    .chances-area{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .userinput{
        padding: 8px;
        font-size: 20px;
    }
    .play-button{
        padding: 0 10px;
    }
    .reset-button{
        
    }
}
@media screen and (max-width: 480px){ 
    body{
      
    }
    .container{
        width: 85%;
    }
    .title{
        color:black;
        font-size: 80px;
        margin: 0;
    }
    .subtitle{
        font-size: 50px;
        margin: 0;
    }
    .colortxt{
        color: rgb(255, 0, 191);
        display: flex;
        flex-direction: column;
    }
    .result{
    
    }
    .main-img{
        width: 70%;
        height: 200px
    }
    .resulttxt{
        font-size: 35px;
        color: rgb(7, 7, 7);
        margin: 10px 0;
    }
    .inputinfo{
        margin-bottom: 20px;
    }
    .inputbut{
        display: flex;
    }
    .chances-area{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .userinput{
        padding: 8px;
        font-size: 15px;
        width: 160px;
    }
    .play-button{
        padding: 0 10px;
    }
    .reset-button{
        
    }
}